<div class="logo">
	<img class="bkg" src="/assets/img/montauk/plans%20and%20elevations/floorplan.jpg"/>
	<div class="logocap">
	</div>
	<div class="klr">
		<span class="pink">K</span>
		<span class="tan">L</span>
		<span class="orange">R</span>
	</div>
	<div class="logocap">
		kristie lynn rosado
	</div>
	<br>
	<div class="logocap tan">
		designer
	</div>
	<nav class="links">
		<ul>
			{% for project_has in site.data.projects %}
				{% assign project = project_has[1] %}
				<li class="{{ project.id }} {{ project.color }}-border">
					<a href="#{{ project.id }}">{{ project.title }}</a>
				</li>
			{% endfor %}
		</ul>
	</nav>
</div>