<div class="logo">
	<div class="klr">
		<span class="k">K</span>
		<span class="l">L</span>
		<span class="r">R</span>
	</div>
	<div class="kristierosado">
		kristie rosado
	</div>
	<nav class="links">
		<ul>
			<li class="montauk">
				<a href="#montauk">montauk home </a>|
			</li>
			<li class="bangkok">
				<a href="#bangkok">bangkok pediatrics </a>|
			</li>
			<li class="barcelona">
				<a href="#barcelona">stay barcelona </a>|
			</li>
			<li class="etc">
				<a href="#etc">etcetera</a>
			</li>
		</ul>
	</nav>
</div>