div.logo {
	padding-top: 20vh;
	text-align:center;

	@media screen and (max-width: 768px) {
		padding-top: 50px;
	}

	div.klr {
		@extend %header-font1;
		font-size: 260px;
		line-height: 200px;
		text-shadow: 7px 7px 0 #dbdbdb;

		@media screen and (max-width: 500px) {
			font-size: 50vw; 
			line-height: 40vw;
		}
	}

	div.logocap {
		@extend %header-font2;
		font-size:20px;
		letter-spacing: 12px;
	}

	nav.links {
		@extend %nav-font;

		ul {
			list-style: none;

			li {
				display: inline-block;
				border-left-style: solid;
				border-left-width: 3px;
				padding-left: 10px;

				@media screen and (max-width:768px) {
					text-align: left;
					width:100%;
				}
			}
		}

		@media screen and (max-width: 768px) {
			margin-top:50px;
		}
	}
}