%header-font1 {
	font-family: bebas-neue, sans-serif;
}

%header-font2 {
	font-family: raleway, sans-serif;
	font-style: normal;
	font-weight: 300;	
}

%content-font {
	font-family: raleway, sans-serif;
	font-style: normal;
}

%nav-font {
	font-family: bebas-neue, sans-serif;
	font-size: 30px;
	letter-spacing: 5px;
}

$pink: #a78489;
$tan: #bfb09c;
$orange: #c08256;
