@import "vars";

body {
	@extend %content-font;
	font-size:15px;
	width: 80%;
	margin: 0 auto;

	div {
		margin: 10px 0 10px 0;
	}

	@import "logo";

	div#montauk {
		
		div.header {
			margin-bottom:50px;
			letter-spacing: 5px;
			text-align:center;

			div.title {
				@extend %header-font1;
				font-size:100px;
				color: $pink;
				line-height:90px;
			}

			img {
				width: 30%;
			}

			div.details {
				@extend %header-font2;
				font-size: 18px;
				text-transform: lowercase;
			}
		}

		div.section {
			margin-bottom: 20px;
			border-bottom: 1px solid $pink;

			div.sectionheader {
				font-size:18px;
				font-weight:600;
				border-left: 3px solid $pink;
				padding-left:2px;
			}

			div.images {

				figure {
					position: relative;
					width: 300px;
					height: 300px;
					display: inline-block;

					img {
						width:370px;
						height:370px;
						margin:5px;
						object-fit:cover;
						border: 1px solid black;
					}
				
					figcaption {
						position:absolute;
						top: 0;
						padding: 5px;
						background-color: white;
						border: 1px solid black;
					}	
				}
				
			}
		}
	}
}

a {
	&, &:hover, &:visited {
		text-decoration: none;
		color: black;
	}
}